<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Upload Excel File</h5>
          <button type="button" class="btn btn-outline-primary download-sample-button" (click)="downloadSampleExcel()">Download Sample
            File</button>

        </div>
        <div class="card-body">
          <div class="upload-box text-center">
            <label for="excelUpload" class="upload-label d-block mb-2">Drag and drop File</label>
            <input #excelInput type="file" id="excelUpload" (change)="onFileChange($event, 'excel')" accept=".xlsx,.xls"
              class="upload-input" />

            <div class="d-flex justify-content-center gap-2 mt-3">
              <button type="button" class="btn btn-primary" (click)="excelInput.click()">Upload Excel File</button>
            </div>

            <!-- Show selected excel file name -->
            <div *ngIf="selectedExcelFile" class="mt-2">
              <strong>Selected:</strong> {{ selectedExcelFile.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button type="button" class="btn btn-success" (click)="validateUploads()">Import</button>
  </div>
</div>